.slider__wrapper{
 margin-top: -70px;
}
.slider__content{
 margin-top: 60px;
}
.slider__content p{
 font-size: .9rem;
}

.slider__btn{
 padding: 7px 15px;
 background: #f5b70a;
 color: #fff;
 border: none;
 outline: none;
 border-radius: 5px;
}
.slider__btn a{
 color: #fff;
}

@media only screen and (max-width: 992px){
  .slider__content h2{
    font-size: 1.5rem;
  }
  .slider__content p{
    font-size: 0.8rem;
  }
  .slider__content .btn{
    padding: 5px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and(max-width:768px){
  .slider__content{
    text-align: center;
    padding-left: 0px;
  }
}